* {
  font-family: Avenir Next !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #F0F8FF;
  height: 100%;
  position: relative;
}

.crm-elements-container {
  width: 65%;
  /*display: flex;*/
  justify-content: space-around;
  align-items: center;
  margin: auto;
  position: relative;
}

/*.sidebar-container {
  background-color: #424d57;
  width: 150px;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}*/

.sidebar-container{
  background-color: #424d57;
  width: 150px;
  height: 100%;
  margin: 0;
  margin-top: 0;
  align-items: center;
  justify-content: space-around;
  float: left;
}

.account-sidebar, .lead-sidebar, .log-sidebar, .appointment-sidebar {
  margin: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin-top: 25px;
}

h2 {
  color: #6e8091;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.account-container, .lead-container, .calls-container, .appointment-container {
  position: relative;
  margin-bottom: 45px;
  padding-top: 75px;
  padding-left: 30px;

}

.lead-to-account {
  color: #6e8091;
  font-size: 20px;
}

button {
  padding: 3px;
  margin: 1px;
}


footer {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  /*font-weight: lighter;*/
  text-transform: uppercase;
  color: #6e8091;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #424d57;
}
