* {
  font-family: Avenir Next !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #F0F8FF;
  height: 100%;
  position: relative;
}

.crm-elements-container {
  width: 65%;
  /*display: flex;*/
  justify-content: space-around;
  align-items: center;
  margin: auto;
  position: relative;
}

/*.sidebar-container {
  background-color: #424d57;
  width: 150px;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}*/

.sidebar-container{
  background-color: #424d57;
  width: 150px;
  height: 100%;
  margin: 0;
  margin-top: 0;
  align-items: center;
  justify-content: space-around;
  float: left;
  position: fixed;
}

.sidebar-elements {
  position: relative;
  margin-top: 50%;
}

.account-sidebar, .lead-sidebar, .log-sidebar, .appointment-sidebar {
  margin: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin-top: 25px;
  /*position: absolute;*/
}

.lead-icon {
  margin: auto;
  align-items: center;
  width: auto;
  height: 80px;
  margin-left: 18px;
}

.user-icon {
  margin: auto;
  align-items: center;
  width: auto;
  height: 80px;
  justify-content: center;
  margin-left: 25px;
}

.log-icon {
  margin: auto;
  align-items: center;
  width: auto;
  height: 75px;
  justify-content: center;
  margin-left: 25px;
}

.appointment-icon {
  margin: auto;
  align-items: center;
  width: auto;
  height: 70px;
  justify-content: center;
  margin-left: 30px;
}

p {
  margin: auto;
  text-align: center;
  padding: 5px;
}

h2 {
  color: #6e8091;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.account-container, .lead-container, .calls-container, .appointment-container {
  position: relative;
  margin-bottom: 45px;
  padding-top: 75px;
  padding-left: 30px;
  margin-left: 75px;
}

.lead-to-account {
  color: #6e8091;
  font-size: 20px;
}

button {
  margin: 1px;
  padding: 3px;
  padding-left: 5px;
}

#ui-datepicker-div {
  background-color: #6e8091;
  color: white;
}

.ui-state-default {
  color: white;
  text-align: center !important;
  text-decoration: none;
  padding: 5px;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-month, .ui-datepicker-year {
  margin: auto;
  font-size: 25px;
  padding: 5px;
}

.ui-icon-circle-triangle-w {
  float: left;
}

.ui-icon-circle-triangle-e {
  float: right;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  /*font-weight: lighter;*/
  text-transform: uppercase;
  color: #6e8091;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #424d57;
}
